[submodule "updraft_course/foundry_fund_me/lib/forge-std"]
	path = updraft_course/foundry_fund_me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "updraft_course/foundry_fund_me/lib/chainlink-brownie-contracts"]
	path = updraft_course/foundry_fund_me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "updraft_course/foundry_fund_me/lib/foundry-devops"]
	path = updraft_course/foundry_fund_me/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "updraft_course/foundry_simple_storage/lib/forge-std"]
	path = updraft_course/foundry_simple_storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "updraft_course/foundry_smark_contract_lottery/lib/forge-std"]
	path = updraft_course/foundry_smark_contract_lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "updraft_course/foundry_smark_contract_lottery/lib/chainlink"]
	path = updraft_course/foundry_smark_contract_lottery/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "updraft_course/foundry_smark_contract_lottery/lib/solmate"]
	path = updraft_course/foundry_smark_contract_lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
