[submodule "updraft_course/foundry_fund_me/lib/forge-std"]
	path = updraft_course/foundry_fund_me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "updraft_course/foundry_fund_me/lib/chainlink-brownie-contracts"]
	path = updraft_course/foundry_fund_me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "updraft_course/foundry_fund_me/lib/foundry-devops"]
	path = updraft_course/foundry_fund_me/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
